@import url("./styles/header.css");
@import url("./styles/preview.css");
@import url("./styles/exercise.css");
@import url("./styles/workout.css");
@import url("./styles/trainings.css");

@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins-Bold.ttf) format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Poppins-Italic";
    src: url(./fonts/Poppins-Italic.ttf) format('ttf');
    font-weight: 600;
}

body{
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    font-family: "Poppins", "Poppins-Italic";
    max-width: 1343px;
    background-color: black;
}